@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css?family=Gayathri|Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css?family=Modak&display=swap');
@import url('https://fonts.googleapis.com/css?family=Inconsolata&display=swap');
@import url('https://fonts.googleapis.com/css?family=Amiko|Jacques+Francois+Shadow|Lexend+Zetta|Libre+Barcode+39+Extended+Text|Major+Mono+Display|Mallanna|Nanum+Gothic+Coding|PT+Mono|Quattrocento|Questrial|Scope+One|Spectral&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap');

.body1 {
  background-color: rgb(100, 110, 190);

  display: block;
  padding-top: 3%;
  padding-left: 4%;
  padding-right: 4%;
  padding-bottom: 3%;
}

/* main page */

.intro {
  background-color: white;
  display: block;
  font-family: OCR A Std, monospace;
  text-align: right;
  font-weight: bolder;
  border-radius:10px;
  padding: 30px;
margin: 50px;
}

/* nav menu */
.menuLink {
  display: inline;
  padding-right:15px;
  font-family: OCR A Std, monospace;
  text-decoration: none;
  color: indigo;
  text-shadow: 2px 2px rgb(255, 255, 150),
    -2px 2px rgb(255, 255, 150),
    2px -2px rgb(255, 255, 150),
    -2px 2px rgb(255, 255, 150);
}

.menuLink:hover {
  background-color: rgb(150, 255, 255);
}


#pdfDiv{
  height: 1000px;
  background: white;
  border-radius: 10px;
   margin:5%;
}

#pdfFrame{
  display: inline-block;
  float: center;
  margin: 4%;
  width: 92%;
  height: 85%;
}

.collapseHeader{
  margin-left: 10%;
  margin-right:10%;
  padding: 10px;
  background: white;
  border-radius: 10px;
  font-family: OCR A Std, monospace;
}

.collapseHeader:hover{
background-color: #c8ff91;
cursor: pointer;
}

.textBackground {
  margin-left: 9%;
  margin-right:9%;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5%;
  padding-bottom: 5%;
  text-indent: 5%;
  font-family: monospace;
  font-size: 15px;
  background: white;
  border-radius: 10px;
}
.axiom {
  margin-left: 10%;
  margin-right: 10%;
}

#videoDiv{
  font-family: OCR A Std, monospace;
  font-weight: bold;
  font-size: 20px;
margin: 3%;
  width: 13%;
  padding: 1%;
  background-color: white;
  border-radius: 10px;
}
.videoFlex{
  border-radius: 10px;
  margin-left: 5%;
  width: 80%;
  display: inline-flex;
  justify-content: space-between;
  background-color: white;
  border-radius: 10px;
  padding: 5%;
}

.flexcontent{
flex-grow:1;
/* width:500px;
height: 315px; */
max-width: 45%;
}

#downloads{
  margin-left: 50%;
  width: 30%;
  font-family: OCR A Std, monospace;
  font-size: 20px;
  margin-top: 5%;
  align-content: center;
}
